footer {
  background-color: #484848;
  padding: 30px 15px;
}

.footer__columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3 1fr);
}

.column__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.column__list {
  color: white;
  margin-bottom: 30px;
}

.column__item {
  margin-bottom: 10px;
}

.linkedin {
  width: 40px;
  height: 40px;
}

.footer__info {
  justify-content: center;
}

.footer__logo {
  width: 216px;
  height: 23px;
  margin-bottom: 10px;
}
.footer__copy {
  color: white;
  margin-bottom: 10px;
}

.footer__dev {
  display: flex;
  justify-content: center;
}

.footer__dev a {
  width: 130px;
  height: 46px;
}
