* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  all: unset;
  padding-block: 0;
  padding-inline: 0;
}

h1,
h2,
h3,
p {
  all: unset;
}
