.download__wrapper {
  padding: 30px 15px;
}

.download__title {
  font-size: 30px;
}

.download__text {
  font-size: 14px;
  margin-top: 10px;
}

.download__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.download__link {
  display: block;
  width: 150px;
  height: 44px;
}

.download__imag-block {
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-top: 30px;
  overflow: hidden;
}

/* section2 */
.warranty__wrapper {
  padding: 30px 15px;
}

.warranty__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.warranty__title {
  font-size: 26px;
  margin-bottom: 10px;
}

.warranty__imag-block {
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-top: 30px;
  overflow: hidden;
}

/* section3 */
.care__wrapper {
  padding: 30px 15px;
}

.care__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.care__title {
  font-size: 26px;
  margin-bottom: 10px;
}

.care__imag-block {
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-top: 30px;
  overflow: hidden;
}

/* section4 */
.cashback__wrapper {
  padding: 30px 15px;
}

.cashback__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cashback__title {
  font-size: 26px;
  margin-bottom: 10px;
}

.cashback__button {
  margin-top: 20px;
  font-size: 16px;
  width: 290px;
  height: 50px;
  border: 1px solid #aaa;
  border-radius: 30px;
}
/* section5 */

.clients__wrapper {
  padding: 30px 15px;
  column-count: 2;
  gap: 30px;
}

.clients__brand {
  margin-bottom: 30px;
}

footer {
  background-color: #484848;
}

.footer__columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3 1fr);
  padding: 30px 15px;
}

.column__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.column__list {
  color: white;
  margin-bottom: 30px;
}

.column__item {
  margin-bottom: 10px;
}

.linkedin {
  width: 40px;
  height: 40px;
}

.footer__info {
  padding: 0px 15px 30px 15px;
  justify-content: center;
}

.footer__logo {
  width: 216px;
  height: 23px;
  margin-bottom: 10px;
}
.footer__copy {
  color: white;
  margin-bottom: 10px;
}

.footer__dev {
  width: 130px;
  height: 46px;
}
