/*menu*/
.menu {
  display: none;
  /* border: 1px dashed red; */
  background: #fff;
}

.menu.active {
  display: block;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
}

.menu__item {
  font-size: 24px;
  padding: 24px 15px;
  border-bottom: 1px solid #aaa;
}

/* .menu__item {} */
