/*menu*/
.nav {
  display: none;
  background: var(--bg-color-primery);
  transition: all 0.5s;

  &.active {
    display: block;
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
  }

  &__item {
    font-size: 24px;
    padding: 24px 15px;
    color: var(--primary-color);
    border-bottom: $border-line var(--border-color-primery);
  }
}
