/*reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  color: inherit;
  background: none;
  border: none;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
}

h1,
h2,
h3,
p {
  font-size: inherit;
}

/*fonts*/
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/Nunito-Regular.woff2") format("woff2");
  src: url("assets/fonts/nunito/Nunito-Regular.woff") format("woff");
  src: url("assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/Nunito-Bold.woff2") format("woff2");
  src: url("assets/fonts/nunito/Nunito-Bold.woff") format("woff");
  src: url("assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.app.light {
  --primary-color: #000;
  --footer-text-color: #fff;
  --border-color-primery: #aaa;
  --border-color-secondary: #000;
  --bg-color-primery: #fff;
  --footer-color: #484848;
  --bg-modal-color: rgba(0, 0, 0, 0.6);
  --icon-color: #000;
}

.app.dark {
  --primary-color: #fff;
  --footer-text-color: #fff;
  --border-color-primery: #fff;
  --border-color-secondary: #fff;
  --bg-color-primery: #484848;
  --footer-color: #484848;
  --bg-modal-color: rgba(0, 0, 0, 0.6);
  --icon-color: #fff;
}

/*global*/
body {
  padding-top: 50px;
  /* padding-top: 100vh; */
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

input {
  font-size: 16px;
}

img {
  width: 100%;
}

/*modal*/
.modal {
  display: none;
  background: var(--bg-modal-color);
}
.modal.active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__body {
  width: calc(100vw - 30px);
  padding: 30px 20px;
  position: relative;
  display: grid;
  gap: 15px;
  background: #fff;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .modal__body {
    width: 290px;
    transition: all 1s;
  }
}
.modal__close {
  position: absolute;
  right: -5px;
  top: -34px;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__close img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}
.modal__title {
  font-size: 18px;
  font-weight: 700;
}

/*menu*/
.nav {
  display: none;
  background: var(--bg-color-primery);
  transition: all 0.5s;
}
.nav.active {
  display: block;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
}
.nav__item {
  font-size: 24px;
  padding: 24px 15px;
  color: var(--primary-color);
  border-bottom: 1px solid var(--border-color-primery);
}

/*burger*/
.header__burger {
  width: 30px;
  height: 20px;
  position: relative;
}
.header__burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.5s;
}
.header__burger.active span {
  display: none;
}
.header__burger.active::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.5s;
}
.header__burger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  top: 0;
}
.header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
}
.header__burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
}

/*form*/
.form {
  display: grid;
  gap: 15px;
}
.form__field {
  height: 30px;
  position: relative;
  display: block;
  border-bottom: 1px solid var(--border-color-primery);
}
.form__field input {
  display: block;
  width: 100%;
  padding: 5px;
}
.form__field input::placeholder {
  font-size: 16px;
  color: #aaa;
}
.form__field span {
  font-size: 16px;
  position: absolute;
  left: 5px;
  bottom: 2px;
  color: #aaa;
  z-index: 0;
}
.form__field select {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
}
.form__field img {
  width: 10px;
  height: 9px;
  position: absolute;
  right: 5px;
  bottom: 8px;
}
.form__checkbox {
  display: flex;
  gap: 5px;
}
.form__checkbox input::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #00a1ff;
  border-radius: 3px;
}
.form__checkbox input:checked::before {
  background-image: url(../assets/icons/check.svg);
  background-position: center;
  background-size: 100%;
}
.form__checkbox a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 0;
  color: #222;
  text-decoration: underline;
}
.form__submit {
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 10px;
}

/*column*/
.column {
  /* .column__list {} */
}
.column__title {
  font-weight: 700;
  margin-bottom: 20px;
}
.column__item {
  margin-bottom: 10px;
  font-size: 14px;
}
.column__item:last-child {
  margin-bottom: 0;
}

.linkedin {
  width: 40px;
  height: 40px;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-primery);
  border-bottom: 1px solid var(--border-color-primery);
  /* &__nav {} */
}
.header__wrapper {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 77px;
  height: 30px;
  color: var(--primary-color);
}
.header__logo svg {
  height: 100%;
  fill: currentColor;
}
.header__options {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__lang {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 1px solid var(--border-color-secondary);
  border-radius: 4px;
  color: var(--primary-color);
}
.header__lang svg {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 9px;
  fill: currentColor;
}
.header__lang select {
  color: var(--primary-color);
  padding-left: 8px;
  width: 100%;
  height: 100%;
}
.header__theme {
  width: 26px;
  height: 26px;
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .header__wrapper {
    padding: 0 40px 0 30px;
  }
  .header__options {
    gap: 30px;
  }
}
/*download*/
.download {
  padding: 30px 15px;
  background: var(--bg-color-primery);
}
.download__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.download__title {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
}
.download__text {
  font-size: 14px;
  margin-top: 20px;
  color: var(--primary-color);
}
.download__links {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.download__link {
  display: block;
  width: 150px;
  height: 44px;
}
.download__image-block {
  height: 72vw;
  border: 1px solid var(--border-color-primery);
  border-radius: 20px;
  overflow: hidden;
}
.download__image-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .download {
    padding: 30px 40px;
  }
  .download__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .download__text-block {
    margin-top: 20px;
    width: 50vw;
  }
  .download__title {
    font-size: 36px;
  }
  .download__links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .download__image-block {
    width: 50vw;
    height: 78%;
  }
}
/* warranty */
.warranty {
  padding: 30px 15px;
  background: var(--bg-color-primery);
  /* &__text-block {} */
}
.warranty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.warranty__title {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary-color);
}
.warranty__copy:first-of-type {
  margin-top: 20px;
}
.warranty__copy {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
}
.warranty__image-block {
  height: 72vw;
  border: 1px solid var(--border-color-primery);
  border-radius: 20px;
  overflow: hidden;
}
.warranty__image-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .warranty {
    padding: 30px 40px;
  }
  .warranty__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }
  .warranty__text-block {
    margin-top: 20px;
    width: 50vw;
  }
  .warranty__title {
    font-size: 30px;
  }
  .warranty__links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .warranty__image-block {
    width: 50vw;
    height: 78%;
  }
}
/* care */
.care {
  padding: 30px 15px;
  background: var(--bg-color-primery);
  /* .care__text-block {} */
}
.care__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.care__title {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary-color);
}
.care__copy:first-of-type {
  margin-top: 20px;
}
.care__copy {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
}
.care__image-block {
  height: 72vw;
  border: 1px solid var(--border-color-primery);
  border-radius: 20px;
  overflow: hidden;
}
.care__image-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .care {
    padding: 30px 40px;
  }
  .care__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .care__text-block {
    margin-top: 20px;
    width: 50vw;
  }
  .care__title {
    font-size: 30px;
  }
  .care__image-block {
    width: 50vw;
    height: 78%;
  }
}
/* cashback */
.cashback {
  padding: 30px 15px;
  background: var(--bg-color-primery);
  /* &__wrapper {} */
  /* &__text-block {
  } */
}
.cashback__title {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary-color);
}
.cashback__copy:first-of-type {
  margin-top: 20px;
}
.cashback__copy {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
}
.cashback__button {
  margin-top: 20px;
  font-size: 16px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid var(--border-color-primery);
  border-radius: 30px;
}

@media (min-width: 768px) {
  .cashback {
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
  .cashback__text-block {
    width: 60vw;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
  }
  .cashback__title {
    font-size: 30px;
  }
  .cashback__copy {
    font-size: 16px;
  }
  .cashback__button {
    width: 30vw;
    justify-self: center;
  }
}
.clients {
  /* &__brand {} */
}
.clients__wrapper {
  padding: 30px 15px;
  background: var(--bg-color-primery);
}
.clients__brands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  color: var(--primary-color);
}
.clients__brands svg {
  fill: currentColor;
}

@media (min-width: 768px) {
  .clients__wrapper {
    padding: 30px 40px;
  }
  .clients__brands {
    grid-template-columns: repeat(4, 1fr);
  }
  .clients__brands svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: currentColor;
  }
}
/*footer*/
.footer {
  padding: 30px 15px;
  color: var(--footer-text-color);
  background: var(--footer-color);
  /* &__info {} */
}
.footer__wrapper {
  display: grid;
  gap: 30px;
}
.footer__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.footer__logo {
  width: 216px;
  height: 23px;
  margin-bottom: 10px;
}
.footer__copy {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--footer-text-color);
}
.footer__dev {
  display: flex;
  justify-content: center;
}
.footer__dev a {
  width: 130px;
  height: 46px;
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 40px;
  }
  .footer__columns {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 160px;
    grid-template-rows: repeat(7, auto);
    column-gap: 30px;
  }
  .footer__dev:nth-child(8) {
    grid-row: 1/8;
  }
  .footer__copy {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer__dev a {
    width: 160px;
    height: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
